* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header .container .navbar {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .navbar .navbar_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(88, 169, 165);
}
header .container .navbar .navbar_left i {
  font-size: 31px;
  font-weight: 500;
}
header .container .navbar .navbar_centr {
  display: flex;
}
header .container .navbar .navbar_centr ul {
  display: flex;
  gap: 40px;
}
header .container .navbar .navbar_centr ul a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(64, 66, 66);
}
header .container .navbar .navbar_centr ul a:hover {
  color: rgb(88, 169, 165);
  -webkit-text-decoration: underline rgb(254, 198, 45);
          text-decoration: underline rgb(254, 198, 45);
}
header .container .navbar .navbar_right a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 45px;
  background: rgb(88, 169, 165);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  transition: all 1s ease-in-out;
}
header .container .navbar .navbar_right a:hover {
  background: rgb(102, 150, 147);
  transform: rotate(360deg);
}

main section .container .section_one {
  display: flex;
  align-items: center;
}
main section .container .section_one .section_one_left {
  width: 60%;
}
main section .container .section_one .section_one_left h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
}
main section .container .section_one .section_one_left p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 40px 0;
}
main section .container .section_one .section_one_left a {
  padding: 15px 45px;
  background: rgb(88, 169, 165);
  color: rgb(255, 255, 255);
  width: 271px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
main section .container .section_one .section_one_right {
  width: 50%;
  position: relative;
}
main section .container .section_one .section_one_right .img_two {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
main section .container .section_one .section_one_right {
  border-radius: 80px;
}
main section .container .section_one .section_one_right img {
  width: 100%;
}
main section .container .section_two_text {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
main section .container .section_two_text h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
main section .container .section_two_text p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
main section .container .section_two {
  position: relative;
}
main section .container .section_two .pozition_vido {
  position: absolute;
  bottom: 50px;
  right: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
main section .container .section_two .pozition_vido .pozition_vido_two {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
main section .container .section_two .pozition_vido .pozition_vido_two img {
  align-items: center;
  justify-content: center;
  display: flex;
}
main section .container .section_two {
  padding: 40px 0;
  display: flex;
}
main section .container .section_two .section_two_left {
  width: 70%;
  border-radius: 10px;
}
main section .container .section_two .section_two_left img {
  width: 100%;
}
main section .container .section_two .section_two_right {
  width: 30%;
  background: rgb(176, 196, 186);
  display: flex;
  align-items: start;
  padding: 0 40px;
  justify-content: center;
  flex-direction: column;
}
main section .container .section_two .section_two_right p {
  color: rgb(72, 105, 88);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0;
}
main section .container .section_two .section_two_right a {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(72, 105, 88);
}
main section .container .section_thearee {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
main section .container .section_thearee .section_thearee_left {
  width: 40%;
}
main section .container .section_thearee .section_thearee_left img {
  width: 100%;
}
main section .container .section_thearee .section_thearee_right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main section .container .section_thearee .section_thearee_right h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 50px;
}
main section .container .section_thearee .section_thearee_right p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.5;
}
main section .container .section_foo_title {
  text-align: center;
}
main section .container .section_foo_title h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
main section .container .section_foo_title p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 50px 0;
}
main section .container .section_foo {
  padding: 100px 0;
}
main section .container .section_foo .cads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .container .section_foo .cads .card {
  width: 28%;
}
main section .container .section_foo .cads .card img {
  width: 100%;
}
main section .container .section_foo .cads .card h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(88, 169, 165);
}
main section .container .section_foo .cads .card p {
  color: rgb(72, 105, 88);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0;
}
main section .container .section_five_title {
  text-align: center;
}
main section .container .section_five_title .section_five_title_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
main section .container .section_five_title .section_five_title_imgs img {
  width: 15%;
}
main section .container .section_five {
  display: flex;
  align-items: center;
}
main section .container .section_five .section_five_left {
  width: 50%;
  height: auto;
}
main section .container .section_five .section_five_left img {
  width: 100%;
}
main section .container .section_five .section_five_right {
  position: relative;
}
main section .container .section_five .section_five_right .orqafon {
  position: absolute;
  z-index: -1;
  width: 10%;
  left: 15px;
  top: 40px;
}
main section .container .section_five .section_five_right {
  height: auto;
  background: rgb(204, 240, 230);
  width: 50%;
}
main section .container .section_five .section_five_right .yuqori_qismi {
  display: flex;
}
main section .container .section_five .section_five_right .yuqori_qismi .span {
  width: 20%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
main section .container .section_five .section_five_right .yuqori_qismi .span h1 {
  width: 100%;
  font-family: Poppins;
  font-weight: 800;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
}
main section .container .section_five .section_five_right .yuqori_qismi .span p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
main section .container .section_five .section_five_right .past_qismi {
  z-index: 1;
}
main section .container .section_five .section_five_right .past_qismi p {
  z-index: 10;
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 50px 0;
  justify-content: center;
  align-self: center;
}
main section .container .section_five .section_five_right .past_qismi a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(88, 169, 165);
}
main section .container .section_five .section_five_right .past_qismi a:hover {
  color: rgb(78, 172, 94);
  font-weight: 600;
}
main section .container .section_six {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
main section .container .section_six .section_six__left .shiziq {
  width: 20%;
}
main section .container .section_six .section_six__left {
  width: 35%;
}
main section .container .section_six .section_six__left h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
}
main section .container .section_six .section_six__left p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0;
}
main section .container .section_six .section_six_right {
  width: 55%;
}
main section .container .section_six .section_six_right form {
  padding: 20px;
}
main section .container .section_six .section_six_right form hr {
  padding: 0 20px;
}
main section .container .section_six .section_six_right form {
  border: 1px solid rgb(72, 105, 88);
}
main section .container .section_six .section_six_right form input {
  outline: none;
  border: none;
  padding: 30px 20px;
}
main section .container .section_six .section_six_right form input textarea {
  padding: 30px 20px;
  outline: none;
  border: none;
}
main section .container .section_six .section_six_right form {
  display: flex;
  flex-direction: column;
}
main section .container .section_six .section_six_right form a {
  align-self: flex-end;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Poppins;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 25px;
  background: rgb(88, 169, 165);
}/*# sourceMappingURL=style.css.map */